# if you wish to set a simulated population size, uncomment the line below:
#DNA fragment population size: 300,000,000

# if you wish to simulate population size from known library prep procedure, uncomment the 3 lines below:
PCR product concentration in nanoMolars: 200
PCR product volume in microLitres: 40
PCR cycles: 14

# the following are required:
Number of sequenced reads: 3,000,000
Number of replicates to simulate: 100
Maximum count number to simulate: 100,000
Appendable output filename: conpop_sim_test1
